<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/23/2020 11:46:47 AM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductChangeSetContract

@{
    ViewBag.Title = "Details Product Change Set";
}

<h2>Details for Product Change Set</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeProductChangeSetEdit", new { productChangeSetId = Model.ProductChangeSetId }) |
    @Html.ActionLink("New", "CrudeProductChangeSetCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeProductChangeSetIndex")
</p>
