@model norpim.BusinessLogicLayer.CrudeProductDocumentationTypeRefContract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Product Documentation Type</dt> <dd>@Html.DisplayFor(model => model.ProductDocumentationTypeRcd)</dd>
        <dt>Product Documentation Type Name</dt> <dd>@Html.DisplayFor(model => model.ProductDocumentationTypeName)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { productDocumentationTypeRcd = Model.ProductDocumentationTypeRcd }) |
    @Html.ActionLink("New", "CrudeProductDocumentationTypeRefCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeProductDocumentationTypeRefIndex")
</p>
