<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/9/2020 5:37:14 PM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeLocationAddressTypeRefContract>

@{
    ViewBag.Title = "Index Location Address Type Ref";
}

<h2>Index for Location Address Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeLocationAddressTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Location Address Type</th>
        <th>Location Address Type Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.LocationAddressTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.LocationAddressTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeLocationAddressTypeRefEdit", new { locationAddressTypeRcd = item.LocationAddressTypeRcd })
                | @Html.ActionLink("Delete", "CrudeLocationAddressTypeRefDelete", new { locationAddressTypeRcd = item.LocationAddressTypeRcd })
            </td>
        </tr>
    }

</table>
