<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 11/3/2020 6:56:31 AM
  From Machine: DESKTOP-9A2DH39
  Template: sql2x.TemplateWithDurianGenerator.ParentViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.ProductMaintenanceImageIndexWithFilterContract>

@{
    ViewBag.Title = "Index Product Image";
}

<h2>Index for Product Image</h2>

<br />
@Html.Partial("~/Views/Templates/ProductMaintenance/_tab.cshtml")
<br />

<p>
    @Html.ActionLink("Create New", "ProductImageCreate", new { productId = ViewBag.ProductId })
</p>

<table class="table">
    <tr>
        <th>Product Name</th>
        <th>State</th>
        <th>Product Image Type Name</th>
        <th>Image File Name</th>
        <th>Default User Name</th>
        <th>Product Image Type</th>
        <th>Image</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductName) </td>
            <td>@Html.DisplayFor(modelItem => item.StateRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductImageTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.ImageFileName) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserName) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductImageTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.Image) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "ProductImageEdit", new { productImageId = item.ProductImageId })
            </td>
        </tr>
    }

</table>
