<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 10/14/2020 2:46:52 PM
  From Machine: DESKTOP-742U247
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductAttributeRefContract

@{
    ViewBag.Title = "Details Product Attribute Ref";
}

<h2>Details for Product Attribute Ref</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Product Attribute Name</dt> <dd>@Html.DisplayFor(model => model.ProductAttributeName)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeProductAttributeRefEdit", new { productAttributeRcd = Model.ProductAttributeRcd }) |
    @Html.ActionLink("New", "CrudeProductAttributeRefCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeProductAttributeRefIndex")
</p>
