@model IEnumerable<norpim.BusinessLogicLayer.CrudeProductFieldSetMappingContract>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CrudeProductFieldSetMappingCreate")
</p>

<table class="table">
    <tr>
        <th>Product Identifier</th>
        <th>Product Attribute</th>
        <th>Product Info</th>
        <th>Product Image Type</th>
        <th>Product Documentation Type</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductIdentifierRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductAttributeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductInfoRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductImageTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductDocumentationTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.ActionLink("Details", "CrudeProductFieldSetMappingDetails", new { productFieldSetMappingId = item.ProductFieldSetMappingId }) |
                @Html.ActionLink("Edit", "CrudeProductFieldSetMappingEdit", new { productFieldSetMappingId = item.ProductFieldSetMappingId }) |
                @Html.ActionLink("New", "CrudeProductFieldSetMappingCreate", new { })
            </td>
        </tr>
    }

</table>
