<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 10/14/2020 8:33:56 PM
  From Machine: DESKTOP-742U247
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientIdentifierContract>

@{
    ViewBag.Title = "Index Client Identifier";
}

<h2>Index for Client Identifier</h2>

<p>
    @Html.ActionLink("Create New", "CrudeClientIdentifierCreate")
</p>

<table class="table">
    <tr>
        <th>Client Identifier Type</th>
        <th>Client Identifier Code</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ClientIdentifierTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ClientIdentifierCode) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeClientIdentifierEdit", new { clientIdentifierId = item.ClientIdentifierId })
                | @Html.ActionLink("Delete", "CrudeClientIdentifierDelete", new { clientIdentifierId = item.ClientIdentifierId })
            </td>
        </tr>
    }

</table>
