<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/6/2020 12:27:59 PM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientDocumentContract

@{
    ViewBag.Title = "Details Client Document";
}

<h2>Details for Client Document</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Document Name</dt> <dd>@Html.DisplayFor(model => model.DocumentName)</dd>
        <dt>Document Date Time</dt> <dd>@Html.DisplayFor(model => model.DocumentDateTime)</dd>
        <dt>Expiry Date Time</dt> <dd>@Html.DisplayFor(model => model.ExpiryDateTime)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeClientDocumentEdit", new { clientDocumentId = Model.ClientDocumentId }) |
    @Html.ActionLink("New", "CrudeClientDocumentCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeClientDocumentIndex")
</p>
