@model IEnumerable<norpim.BusinessLogicLayer.CrudeProductInfoRefContract>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CrudeProductInfoRefCreate")
</p>

<table class="table">
    <tr>
        <th>Product Info</th>
        <th>Product Info Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductInfoRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductInfoName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.ActionLink("Details", "CrudeProductInfoRefDetails", new { productInfoRcd = item.ProductInfoRcd }) |
                @Html.ActionLink("Edit", "CrudeProductInfoRefEdit", new { productInfoRcd = item.ProductInfoRcd }) |
                @Html.ActionLink("New", "CrudeProductInfoRefCreate", new { })
            </td>
        </tr>
    }

</table>
