@model norpim.BusinessLogicLayer.CrudeProductInfoRefContract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Product Info</dt> <dd>@Html.DisplayFor(model => model.ProductInfoRcd)</dd>
        <dt>Product Info Name</dt> <dd>@Html.DisplayFor(model => model.ProductInfoName)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { productInfoRcd = Model.ProductInfoRcd }) |
    @Html.ActionLink("New", "CrudeProductInfoRefCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeProductInfoRefIndex")
</p>
