<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/22/2020 5:34:30 AM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientEventTypeRefContract>

@{
    ViewBag.Title = "Index Client Event Type Ref";
}

<h2>Index for Client Event Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeClientEventTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Client Event Type</th>
        <th>Client Event Type Name</th>
        <th>Client Event Type Description</th>
        <th>Active Flag</th>
        <th>Sort Order</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ClientEventTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ClientEventTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.ClientEventTypeDescription) </td>
            <td>@Html.DisplayFor(modelItem => item.ActiveFlag) </td>
            <td>@Html.DisplayFor(modelItem => item.SortOrder) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeClientEventTypeRefEdit", new { clientEventTypeRcd = item.ClientEventTypeRcd })
                | @Html.ActionLink("Delete", "CrudeClientEventTypeRefDelete", new { clientEventTypeRcd = item.ClientEventTypeRcd })
            </td>
        </tr>
    }

</table>
