<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/25/2020 8:20:35 AM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialCardTypeRefContract>

@{
    ViewBag.Title = "Index Financial Card Type Ref";
}

<h2>Index for Financial Card Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFinancialCardTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Financial Card Type</th>
        <th>Financial Card Type Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FinancialCardTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialCardTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFinancialCardTypeRefEdit", new { financialCardTypeRcd = item.FinancialCardTypeRcd })
                | @Html.ActionLink("Delete", "CrudeFinancialCardTypeRefDelete", new { financialCardTypeRcd = item.FinancialCardTypeRcd })
            </td>
        </tr>
    }

</table>
