<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/9/2020 5:37:11 PM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialUnitOfMeasurementRefContract>

@{
    ViewBag.Title = "Index Financial Unit Of Measurement Ref";
}

<h2>Index for Financial Unit Of Measurement Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFinancialUnitOfMeasurementRefCreate")
</p>

<table class="table">
    <tr>
        <th>Financial Unit Of Measurement</th>
        <th>Sort Sequence Number</th>
        <th>Change Flag</th>
        <th>Status Code</th>
        <th>Financial Unit Of Measurement Name</th>
        <th>Financial Unit Of Measurement Code</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FinancialUnitOfMeasurementRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.SortSequenceNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.ChangeFlag) </td>
            <td>@Html.DisplayFor(modelItem => item.StatusCode) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialUnitOfMeasurementName) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialUnitOfMeasurementCode) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFinancialUnitOfMeasurementRefEdit", new { financialUnitOfMeasurementRcd = item.FinancialUnitOfMeasurementRcd })
                | @Html.ActionLink("Delete", "CrudeFinancialUnitOfMeasurementRefDelete", new { financialUnitOfMeasurementRcd = item.FinancialUnitOfMeasurementRcd })
            </td>
        </tr>
    }

</table>
