<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 7/13/2020 10:53:53 AM
  From Machine: DESKTOP-517I8BU
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientEventContract>

@{
    ViewBag.Title = "Index Client Event";
}

<h2>Index for Client Event</h2>

<p>
    @Html.ActionLink("Create New", "CrudeClientEventCreate")
</p>

<table class="table">
    <tr>
        <th>Client Event Type</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ClientEventTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeClientEventEdit", new { clientEventId = item.ClientEventId })
                | @Html.ActionLink("Delete", "CrudeClientEventDelete", new { clientEventId = item.ClientEventId })
            </td>
        </tr>
    }

</table>
