<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/14/2020 8:20:52 PM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultUserActivityTypeRefContract>

@{
    ViewBag.Title = "Index Default User Activity Type Ref";
}

<h2>Index for Default User Activity Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeDefaultUserActivityTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Default User Activity Type</th>
        <th>Default User Activity Type Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserActivityTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserActivityTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeDefaultUserActivityTypeRefEdit", new { defaultUserActivityTypeRcd = item.DefaultUserActivityTypeRcd })
                | @Html.ActionLink("Delete", "CrudeDefaultUserActivityTypeRefDelete", new { defaultUserActivityTypeRcd = item.DefaultUserActivityTypeRcd })
            </td>
        </tr>
    }

</table>
