<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 11/1/2020 9:53:42 AM
  From Machine: DESKTOP-9A2DH39
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultTestContract>

@{
    ViewBag.Title = "Index Default Test";
}

<h2>Index for Default Test</h2>

<p>
    @Html.ActionLink("Create New", "CrudeDefaultTestCreate")
</p>

<table class="table">
    <tr>
        <th>System Name</th>
        <th>Test Area</th>
        <th>Test Sub Area</th>
        <th>Test Address</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.SystemName) </td>
            <td>@Html.DisplayFor(modelItem => item.TestArea) </td>
            <td>@Html.DisplayFor(modelItem => item.TestSubArea) </td>
            <td>@Html.DisplayFor(modelItem => item.TestAddress) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeDefaultTestEdit", new { defaultTestId = item.DefaultTestId })
                | @Html.ActionLink("Delete", "CrudeDefaultTestDelete", new { defaultTestId = item.DefaultTestId })
            </td>
        </tr>
    }

</table>
