<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 2/15/2020 3:43:05 AM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPim.BusinessLogicLayer.CrudeLocationAddressContract

@{
    ViewBag.Title = "Details Location Address";
}

<h2>Details for Location Address</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Address One</dt> <dd>@Html.DisplayFor(model => model.AddressOne)</dd>
        <dt>Address Two</dt> <dd>@Html.DisplayFor(model => model.AddressTwo)</dd>
        <dt>Address Three</dt> <dd>@Html.DisplayFor(model => model.AddressThree)</dd>
        <dt>City</dt> <dd>@Html.DisplayFor(model => model.City)</dd>
        <dt>Street</dt> <dd>@Html.DisplayFor(model => model.Street)</dd>
        <dt>State</dt> <dd>@Html.DisplayFor(model => model.State)</dd>
        <dt>District</dt> <dd>@Html.DisplayFor(model => model.District)</dd>
        <dt>Province</dt> <dd>@Html.DisplayFor(model => model.Province)</dd>
        <dt>Zip Code</dt> <dd>@Html.DisplayFor(model => model.ZipCode)</dd>
        <dt>Po Box</dt> <dd>@Html.DisplayFor(model => model.PoBox)</dd>
        <dt>Comment</dt> <dd>@Html.DisplayFor(model => model.Comment)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeLocationAddressEdit", new { locationAddressId = Model.LocationAddressId }) |
    @Html.ActionLink("New", "CrudeLocationAddressCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeLocationAddressIndex")
</p>
