<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 10/15/2020 2:56:21 PM
  From Machine: DESKTOP-742U247
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientTypeRefContract>

@{
    ViewBag.Title = "Index Client Type Ref";
}

<h2>Index for Client Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeClientTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Client Type</th>
        <th>Client Type Name</th>
        <th>Client Type Description</th>
        <th>Active Flag</th>
        <th>Sort Order</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ClientTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ClientTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.ClientTypeDescription) </td>
            <td>@Html.DisplayFor(modelItem => item.ActiveFlag) </td>
            <td>@Html.DisplayFor(modelItem => item.SortOrder) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeClientTypeRefEdit", new { clientTypeRcd = item.ClientTypeRcd })
                | @Html.ActionLink("Delete", "CrudeClientTypeRefDelete", new { clientTypeRcd = item.ClientTypeRcd })
            </td>
        </tr>
    }

</table>
