<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 3/11/2020 1:32:41 PM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultIssueStatusRefContract>

@{
    ViewBag.Title = "Index Default Issue Status Ref";
}

<h2>Index for Default Issue Status Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeDefaultIssueStatusRefCreate")
</p>

<table class="table">
    <tr>
        <th>Default Issue Status</th>
        <th>Default Issue Status Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DefaultIssueStatusRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultIssueStatusName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeDefaultIssueStatusRefEdit", new { defaultIssueStatusRcd = item.DefaultIssueStatusRcd })
                | @Html.ActionLink("Delete", "CrudeDefaultIssueStatusRefDelete", new { defaultIssueStatusRcd = item.DefaultIssueStatusRcd })
            </td>
        </tr>
    }

</table>
