<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/14/2020 3:01:14 PM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductSupplierContract

@{
    ViewBag.Title = "Details Product Supplier";
}

<h2>Details for Product Supplier</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Supplier Name</dt> <dd>@Html.DisplayFor(model => model.SupplierName)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeProductSupplierEdit", new { productSupplierId = Model.ProductSupplierId }) |
    @Html.ActionLink("New", "CrudeProductSupplierCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeProductSupplierIndex")
</p>
