<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 10/31/2020 5:18:05 AM
  From Machine: DESKTOP-742U247
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultStateRefContract>

@{
    ViewBag.Title = "Index Default State Ref";
}

<h2>Index for Default State Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeDefaultStateRefCreate")
</p>

<table class="table">
    <tr>
        <th>Default State</th>
        <th>Default State Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DefaultStateRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultStateName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeDefaultStateRefEdit", new { defaultStateRcd = item.DefaultStateRcd })
                | @Html.ActionLink("Delete", "CrudeDefaultStateRefDelete", new { defaultStateRcd = item.DefaultStateRcd })
            </td>
        </tr>
    }

</table>
