<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/30/2020 12:05:52 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductSupplierContract>

@{
    ViewBag.Title = "Index Product Supplier";
}

<h2>Index for Product Supplier</h2>

<p>
    @Html.ActionLink("Create New", "CrudeProductSupplierCreate")
</p>

<table class="table">
    <tr>
        <th>Supplier Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.SupplierName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeProductSupplierEdit", new { productSupplierId = item.ProductSupplierId })
                | @Html.ActionLink("Delete", "CrudeProductSupplierDelete", new { productSupplierId = item.ProductSupplierId })
            </td>
        </tr>
    }

</table>
