<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 10/29/2020 9:07:38 PM
  From Machine: DESKTOP-742U247
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientAddressContract>

@{
    ViewBag.Title = "Index Client Address";
}

<h2>Index for Client Address</h2>

<p>
    @Html.ActionLink("Create New", "CrudeClientAddressCreate")
</p>

<table class="table">
    <tr>
        <th>Client Address Type</th>
        <th>Address Line One Name</th>
        <th>Address Line Two Name</th>
        <th>Address Line Three Name</th>
        <th>City Name</th>
        <th>Street Name</th>
        <th>State Name</th>
        <th>District Name</th>
        <th>Province Name</th>
        <th>Zip Code</th>
        <th>Po Box</th>
        <th>Comment</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ClientAddressTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.AddressLineOneName) </td>
            <td>@Html.DisplayFor(modelItem => item.AddressLineTwoName) </td>
            <td>@Html.DisplayFor(modelItem => item.AddressLineThreeName) </td>
            <td>@Html.DisplayFor(modelItem => item.CityName) </td>
            <td>@Html.DisplayFor(modelItem => item.StreetName) </td>
            <td>@Html.DisplayFor(modelItem => item.StateName) </td>
            <td>@Html.DisplayFor(modelItem => item.DistrictName) </td>
            <td>@Html.DisplayFor(modelItem => item.ProvinceName) </td>
            <td>@Html.DisplayFor(modelItem => item.ZipCode) </td>
            <td>@Html.DisplayFor(modelItem => item.PoBox) </td>
            <td>@Html.DisplayFor(modelItem => item.Comment) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeClientAddressEdit", new { clientAddressId = item.ClientAddressId })
                | @Html.ActionLink("Delete", "CrudeClientAddressDelete", new { clientAddressId = item.ClientAddressId })
            </td>
        </tr>
    }

</table>
