<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/19/2020 5:36:09 PM
  From Machine: DESKTOP-KE5CSN3
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.ProductSearchByCategoryCodeContract>

@{
    ViewBag.Title = "Product Search By Category Code";
}

<h2>Product Search By Category Code</h2>

<table class="table">
    <tr>
        <th>Product Name</th>
        <th>Identifier</th>
        <th>Value</th>
        <th>Product Info Value</th>
        <th>Product Image Type</th>
        <th>Product Image Type Name</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductName) </td>
            <td>@Html.DisplayFor(modelItem => item.Identifier) </td>
            <td>@Html.DisplayFor(modelItem => item.Value) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductInfoValue) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductImageTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductImageTypeName) </td>
            <td>
                @if (item.Image != null) {
                    <img src="data:image/png;base64,@Convert.ToBase64String(item.Image)" alt="html_inline_image.png" title="html_inline_image.png">
                }
            </td>
        </tr>
    }

</table>
