<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 7/11/2020 11:27:09 AM
  From Machine: DESKTOP-517I8BU
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductDocumentationContract>

@{
    ViewBag.Title = "Index Product Documentation";
}

<h2>Index for Product Documentation</h2>

<p>
    @Html.ActionLink("Create New", "CrudeProductDocumentationCreate")
</p>

<table class="table">
    <tr>
        <th>Product Documentation Type</th>
        <th>Documentation</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductDocumentationTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.Documentation) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeProductDocumentationEdit", new { productDocumentationId = item.ProductDocumentationId })
                | @Html.ActionLink("Delete", "CrudeProductDocumentationDelete", new { productDocumentationId = item.ProductDocumentationId })
            </td>
        </tr>
    }

</table>
