@model norpim.BusinessLogicLayer.CrudeProductGatherAttributeContract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Product Gather Attribute Value</dt> <dd>@Html.DisplayFor(model => model.ProductGatherAttributeValue)</dd>
        <dt>Product Gather Attribute Type</dt> <dd>@Html.DisplayFor(model => model.ProductGatherAttributeTypeRcd)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { productGatherAttributeId = Model.ProductGatherAttributeId }) |
    @Html.ActionLink("New", "CrudeProductGatherAttributeCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeProductGatherAttributeIndex")
</p>
