<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/14/2020 3:00:43 PM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeLocationCountryContract>

@{
    ViewBag.Title = "Index Location Country";
}

<h2>Index for Location Country</h2>

<p>
    @Html.ActionLink("Create New", "CrudeLocationCountryCreate")
</p>

<table class="table">
    <tr>
        <th>Location Country Code</th>
        <th>Location Country Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.LocationCountryCode) </td>
            <td>@Html.DisplayFor(modelItem => item.LocationCountryName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeLocationCountryEdit", new { locationCountryId = item.LocationCountryId })
                | @Html.ActionLink("Delete", "CrudeLocationCountryDelete", new { locationCountryId = item.LocationCountryId })
            </td>
        </tr>
    }

</table>
