<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 3/12/2020 12:51:55 PM
  Template: sql2x.TemplateWithDurianGenerator.ParentViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.ProductMaintenanceInfoIndexWithFilterContract>

@{
    ViewBag.Title = "Index Product Info";
}

<h2>Index for Product Info</h2>

<br />
@Html.Partial("~/Views/Templates/ProductMaintenance/_tab.cshtml")
<br />

<p>
    @Html.ActionLink("Create New", "ProductInfoCreate", new { productId = ViewBag.ProductId })
</p>

<table class="table">
    <tr>
        <th>Product Name</th>
        <th>State</th>
        <th>Product Info Name</th>
        <th>Default User Name</th>
        <th>Product Info</th>
        <th>Product Info Value</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductName) </td>
            <td>@Html.DisplayFor(modelItem => item.StateRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductInfoName) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserName) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductInfoRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductInfoValue) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "ProductInfoEdit", new { productInfoId = item.ProductInfoId })
            </td>
        </tr>
    }

</table>
