<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/9/2020 7:23:38 AM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultRuleTypeRefContract>

@{
    ViewBag.Title = "Index Default Rule Type Ref";
}

<h2>Index for Default Rule Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeDefaultRuleTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Default Rule Type</th>
        <th>Default Rule Type Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DefaultRuleTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultRuleTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeDefaultRuleTypeRefEdit", new { defaultRuleTypeRcd = item.DefaultRuleTypeRcd })
                | @Html.ActionLink("Delete", "CrudeDefaultRuleTypeRefDelete", new { defaultRuleTypeRcd = item.DefaultRuleTypeRcd })
            </td>
        </tr>
    }

</table>
