<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/14/2020 7:27:17 AM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialPaymentVoucherContract>

@{
    ViewBag.Title = "Index Financial Payment Voucher";
}

<h2>Index for Financial Payment Voucher</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFinancialPaymentVoucherCreate")
</p>

<table class="table">
    <tr>
        <th>Date Time</th>
        <th>Amount</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.Amount) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFinancialPaymentVoucherEdit", new { financialPaymentVoucherId = item.FinancialPaymentVoucherId })
                | @Html.ActionLink("Delete", "CrudeFinancialPaymentVoucherDelete", new { financialPaymentVoucherId = item.FinancialPaymentVoucherId })
            </td>
        </tr>
    }

</table>
