<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 3/11/2020 1:59:20 PM
  Template: sql2x.TemplateByServiceTableCrudGenerator.ParentViewEdit
-->
@model SolutionNorSolutionPim.BusinessLogicLayer.ProductReferenceAttributeUnitContract

@{
    ViewBag.Title = "Edit Product Attribute Unit Ref";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ChecksumAfterGet)

        @for (int i = 0; i < @Model.ProductAttributeUnitRef.Count; i++) {
            @Html.HiddenFor(model => model.ProductAttributeUnitRef[i].UserId)
            @Html.HiddenFor(model => model.ProductAttributeUnitRef[i].DateTime)
        }

    </div>
    <h3>Product Attribute Unit Ref</h3>
    <div>
        @Html.ActionLink("references", "DashboardPIMReference", "Dashboard") | 
        @Html.ActionLink("refresh", "ProductReferenceAttributeUnitEdit", "ProductReferenceAttributeUnit") | 
        @Html.ActionLink("add new", "ProductReferenceAttributeUnitCreate", "ProductReferenceAttributeUnit")
    </div>
    <hr />
    <table class="table">
        <tr>
            <th>Product Attribute Unit</th>
            <th>Product Attribute Unit Name</th>
            <th></th>
        </tr>

        @for (int i = 0; i < @Model.ProductAttributeUnitRef.Count; i++) {
            <tr>
                <td>@Html.EditorFor(modelItem => Model.ProductAttributeUnitRef[i].ProductAttributeUnitRcd, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td>@Html.EditorFor(modelItem => Model.ProductAttributeUnitRef[i].ProductAttributeUnitName, new { htmlAttributes = new { @class = "form-control" } })</td>
            </tr>
        }

    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/themes/base/all.css")
    <script type="text/javascript">
        $(function () {
            // This will make every element with the class "date-picker" into a DatePicker element
            $('.date-picker').datepicker(({ dateFormat: "yy-mm-dd" }));
        })
    </script>
}
