<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 7/14/2020 6:58:05 AM
  From Machine: DESKTOP-00MSEIL
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultResourceMeasurementContract>

@{
    ViewBag.Title = "Index Default Resource Measurement";
}

<h2>Index for Default Resource Measurement</h2>

<p>
    @Html.ActionLink("Create New", "CrudeDefaultResourceMeasurementCreate")
</p>

<table class="table">
    <tr>
        <th>Client Workingset Bytes</th>
        <th>Business Workingset Bytes</th>
        <th>Database Size Bytes</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ClientWorkingsetBytes) </td>
            <td>@Html.DisplayFor(modelItem => item.BusinessWorkingsetBytes) </td>
            <td>@Html.DisplayFor(modelItem => item.DatabaseSizeBytes) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeDefaultResourceMeasurementEdit", new { defaultResourceMeasurementId = item.DefaultResourceMeasurementId })
                | @Html.ActionLink("Delete", "CrudeDefaultResourceMeasurementDelete", new { defaultResourceMeasurementId = item.DefaultResourceMeasurementId })
            </td>
        </tr>
    }

</table>
