@model norpim.BusinessLogicLayer.CrudeProductDocumentationContract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Product Documentation Type</dt> <dd>@Html.DisplayFor(model => model.ProductDocumentationTypeRcd)</dd>
        <dt>Documentation</dt> <dd>@Html.DisplayFor(model => model.Documentation)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { productDocumentationId = Model.ProductDocumentationId }) |
    @Html.ActionLink("New", "CrudeProductDocumentationCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeProductDocumentationIndex")
</p>
