<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 7/14/2020 6:12:59 AM
  From Machine: DESKTOP-00MSEIL
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultPerformanceTimeRollupContract

@{
    ViewBag.Title = "Details Default Performance Time Rollup";
}

<h2>Details for Default Performance Time Rollup</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Command Name</dt> <dd>@Html.DisplayFor(model => model.CommandName)</dd>
        <dt>Milliseconds</dt> <dd>@Html.DisplayFor(model => model.Milliseconds)</dd>
        <dt>Hits</dt> <dd>@Html.DisplayFor(model => model.Hits)</dd>
        <dt>Default User Id</dt> <dd>@Html.DisplayFor(model => model.DefaultUserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeDefaultPerformanceTimeRollupEdit", new { defaultPerformanceTimeRollupId = Model.DefaultPerformanceTimeRollupId }) |
    @Html.ActionLink("New", "CrudeDefaultPerformanceTimeRollupCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeDefaultPerformanceTimeRollupIndex")
</p>
