<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 10/15/2020 2:57:02 PM
  From Machine: DESKTOP-742U247
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductExposeSetContract>

@{
    ViewBag.Title = "Index Product Expose Set";
}

<h2>Index for Product Expose Set</h2>

<p>
    @Html.ActionLink("Create New", "CrudeProductExposeSetCreate")
</p>

<table class="table">
    <tr>
        <th>Product Expose Set Type</th>
        <th>Product Expose Set Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductExposeSetTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductExposeSetName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeProductExposeSetEdit", new { productExposeSetId = item.ProductExposeSetId })
                | @Html.ActionLink("Delete", "CrudeProductExposeSetDelete", new { productExposeSetId = item.ProductExposeSetId })
            </td>
        </tr>
    }

</table>
