@model norpim.BusinessLogicLayer.CrudeProductAttributeContract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Product Attribute</dt> <dd>@Html.DisplayFor(model => model.ProductAttributeRcd)</dd>
        <dt>Product Attribute Unit</dt> <dd>@Html.DisplayFor(model => model.ProductAttributeUnitRcd)</dd>
        <dt>Value</dt> <dd>@Html.DisplayFor(model => model.Value)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { productAttributeId = Model.ProductAttributeId }) |
    @Html.ActionLink("New", "CrudeProductAttributeCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeProductAttributeIndex")
</p>
