<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 7/14/2020 11:36:43 AM
  From Machine: DESKTOP-517I8BU
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductCategoryContract

@{
    ViewBag.Title = "Details Product Category";
}

<h2>Details for Product Category</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Product Category Code</dt> <dd>@Html.DisplayFor(model => model.ProductCategoryCode)</dd>
        <dt>Product Category Name</dt> <dd>@Html.DisplayFor(model => model.ProductCategoryName)</dd>
        <dt>Product Category Position</dt> <dd>@Html.DisplayFor(model => model.ProductCategoryPosition)</dd>
        <dt>State</dt> <dd>@Html.DisplayFor(model => model.StateRcd)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeProductCategoryEdit", new { productCategoryId = Model.ProductCategoryId }) |
    @Html.ActionLink("New", "CrudeProductCategoryCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeProductCategoryIndex")
</p>
