<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 10/30/2020 9:52:19 PM
  From Machine: DESKTOP-9A2DH39
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductCategoryContract>

@{
    ViewBag.Title = "Index Product Category";
}

<h2>Index for Product Category</h2>

<p>
    @Html.ActionLink("Create New", "CrudeProductCategoryCreate")
</p>

<table class="table">
    <tr>
        <th>Product Category Code</th>
        <th>Product Category Name</th>
        <th>Product Category Position</th>
        <th>State</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductCategoryCode) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductCategoryName) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductCategoryPosition) </td>
            <td>@Html.DisplayFor(modelItem => item.StateRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeProductCategoryEdit", new { productCategoryId = item.ProductCategoryId })
                | @Html.ActionLink("Delete", "CrudeProductCategoryDelete", new { productCategoryId = item.ProductCategoryId })
            </td>
        </tr>
    }

</table>
