<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 3/13/2020 10:43:22 AM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultPerformanceTimeRollupContract>

@{
    ViewBag.Title = "Index Default Performance Time Rollup";
}

<h2>Index for Default Performance Time Rollup</h2>

<p>
    @Html.ActionLink("Create New", "CrudeDefaultPerformanceTimeRollupCreate")
</p>

<table class="table">
    <tr>
        <th>Command Name</th>
        <th>Milliseconds</th>
        <th>Hits</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.CommandName) </td>
            <td>@Html.DisplayFor(modelItem => item.Milliseconds) </td>
            <td>@Html.DisplayFor(modelItem => item.Hits) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeDefaultPerformanceTimeRollupEdit", new { defaultPerformanceTimeRollupId = item.DefaultPerformanceTimeRollupId })
                | @Html.ActionLink("Delete", "CrudeDefaultPerformanceTimeRollupDelete", new { defaultPerformanceTimeRollupId = item.DefaultPerformanceTimeRollupId })
            </td>
        </tr>
    }

</table>
