@model norpim.BusinessLogicLayer.CrudeUserActivityContract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>User Activity Type</dt> <dd>@Html.DisplayFor(model => model.UserActivityTypeRcd)</dd>
        <dt>User Activity Note</dt> <dd>@Html.DisplayFor(model => model.UserActivityNote)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
        <dt>Originating Address</dt> <dd>@Html.DisplayFor(model => model.OriginatingAddress)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { userActivityId = Model.UserActivityId }) |
    @Html.ActionLink("New", "CrudeUserActivityCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeUserActivityIndex")
</p>
