@model IEnumerable<norpim.BusinessLogicLayer.CrudeProductGatherAttributeTypeRefContract>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CrudeProductGatherAttributeTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Product Gather Attribute Type</th>
        <th>Product Gather Attribute Type Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductGatherAttributeTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductGatherAttributeTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.ActionLink("Details", "CrudeProductGatherAttributeTypeRefDetails", new { productGatherAttributeTypeRcd = item.ProductGatherAttributeTypeRcd }) |
                @Html.ActionLink("Edit", "CrudeProductGatherAttributeTypeRefEdit", new { productGatherAttributeTypeRcd = item.ProductGatherAttributeTypeRcd }) |
                @Html.ActionLink("New", "CrudeProductGatherAttributeTypeRefCreate", new { })
            </td>
        </tr>
    }

</table>
