<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 3/13/2020 10:44:04 AM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductAttributeContract>

@{
    ViewBag.Title = "Index Product Attribute";
}

<h2>Index for Product Attribute</h2>

<p>
    @Html.ActionLink("Create New", "CrudeProductAttributeCreate")
</p>

<table class="table">
    <tr>
        <th>Product Attribute</th>
        <th>Product Attribute Unit</th>
        <th>Value</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductAttributeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductAttributeUnitRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.Value) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeProductAttributeEdit", new { productAttributeId = item.ProductAttributeId })
                | @Html.ActionLink("Delete", "CrudeProductAttributeDelete", new { productAttributeId = item.ProductAttributeId })
            </td>
        </tr>
    }

</table>
