<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/14/2020 3:00:12 PM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialAdjustmentTypeRefContract

@{
    ViewBag.Title = "Details Financial Adjustment Type Ref";
}

<h2>Details for Financial Adjustment Type Ref</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Financial Adjustment Type Name</dt> <dd>@Html.DisplayFor(model => model.FinancialAdjustmentTypeName)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeFinancialAdjustmentTypeRefEdit", new { financialAdjustmentTypeRcd = Model.FinancialAdjustmentTypeRcd }) |
    @Html.ActionLink("New", "CrudeFinancialAdjustmentTypeRefCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeFinancialAdjustmentTypeRefIndex")
</p>
