<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/6/2020 12:30:22 PM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeLocationCityContract>

@{
    ViewBag.Title = "Index Location City";
}

<h2>Index for Location City</h2>

<p>
    @Html.ActionLink("Create New", "CrudeLocationCityCreate")
</p>

<table class="table">
    <tr>
        <th>Location City Code</th>
        <th>Location City Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.LocationCityCode) </td>
            <td>@Html.DisplayFor(modelItem => item.LocationCityName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeLocationCityEdit", new { locationCityId = item.LocationCityId })
                | @Html.ActionLink("Delete", "CrudeLocationCityDelete", new { locationCityId = item.LocationCityId })
            </td>
        </tr>
    }

</table>
