<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 10/29/2020 9:58:44 PM
  From Machine: DESKTOP-9A2DH39
  Template: sql2x.TemplateByServiceTableCrudGenerator.ParentViewCreate
-->
@model SolutionNorSolutionPim.BusinessLogicLayer.ProductReferenceCategoryDocumentationTypeContract

@{
    ViewBag.Title = "Create Product Category Documentation Type Ref";
}

<h3>Create Product Category Documentation Type Ref</h3>
    <div>
        @Html.ActionLink("references", "DashboardPIMReference", "Dashboard") | 
        @Html.ActionLink("refresh", "ProductReferenceCategoryDocumentationTypeEdit", "ProductReferenceCategoryDocumentationType") | 
        @Html.ActionLink("add new", "ProductReferenceCategoryDocumentationTypeCreate", "ProductReferenceCategoryDocumentationType")
    </div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProductCategoryDocumentationTypeRefNew.ProductCategoryDocumentationTypeRcd)
        @Html.HiddenFor(model => model.ProductCategoryDocumentationTypeRefNew.UserId)
        @Html.HiddenFor(model => model.ProductCategoryDocumentationTypeRefNew.DateTime)

        <div class="form-group">
            @Html.Label("Product Category Documentation Type Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductCategoryDocumentationTypeRefNew.ProductCategoryDocumentationTypeName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductCategoryDocumentationTypeRefNew.ProductCategoryDocumentationTypeName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Date Time", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayText("DateTime")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ProductReferenceCategoryDocumentationTypeEdit")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/themes/base/all.css")
    <script type="text/javascript">
        $(function () {
            // This will make every element with the class "date-picker" into a DatePicker element
            $('.date-picker').datepicker(({ dateFormat: "yy-mm-dd" }));
        })
    </script>
}
