<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 10/28/2020 9:23:26 PM
  From Machine: DESKTOP-9A2DH39
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientContactMethodContract>

@{
    ViewBag.Title = "Index Client Contact Method";
}

<h2>Index for Client Contact Method</h2>

<p>
    @Html.ActionLink("Create New", "CrudeClientContactMethodCreate")
</p>

<table class="table">
    <tr>
        <th>Client Contact Method</th>
        <th>Contact Method Way</th>
        <th>Comment</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ClientContactMethodRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ContactMethodWay) </td>
            <td>@Html.DisplayFor(modelItem => item.Comment) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeClientContactMethodEdit", new { clientContactMethodId = item.ClientContactMethodId })
                | @Html.ActionLink("Delete", "CrudeClientContactMethodDelete", new { clientContactMethodId = item.ClientContactMethodId })
            </td>
        </tr>
    }

</table>
