<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/22/2020 6:56:00 AM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialCurrencyTypeRefContract

@{
    ViewBag.Title = "Details Financial Currency Type Ref";
}

<h2>Details for Financial Currency Type Ref</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Financial Currency Type Name</dt> <dd>@Html.DisplayFor(model => model.FinancialCurrencyTypeName)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
        <dt>Decimal Count</dt> <dd>@Html.DisplayFor(model => model.DecimalCount)</dd>
        <dt>Financial Currency Type Code</dt> <dd>@Html.DisplayFor(model => model.FinancialCurrencyTypeCode)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeFinancialCurrencyTypeRefEdit", new { financialCurrencyTypeRcd = Model.FinancialCurrencyTypeRcd }) |
    @Html.ActionLink("New", "CrudeFinancialCurrencyTypeRefCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeFinancialCurrencyTypeRefIndex")
</p>
