@model IEnumerable<norpim.BusinessLogicLayer.CrudeUserContract>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>User Code</th><th>User Name</th><th>eMail</th><th>Password</th><th>State</th><th>Date time</th><th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.UserCode)    </td>
            <td>@Html.DisplayFor(modelItem => item.UserName)    </td>
            <td>@Html.DisplayFor(modelItem => item.Email)       </td>
            <td>@Html.DisplayFor(modelItem => item.Password)    </td>
            <td>@Html.DisplayFor(modelItem => item.StateRcd)    </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime)    </td>
            <td>@Html.ActionLink("Details", "Details", new { UserId = item.UserId }) |
                @Html.ActionLink("Edit", "Edit", new { UserId = item.UserId }) |
                @Html.ActionLink("New", "Create", new {})
            </td>
        </tr>
    }

</table>
