<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 8/12/2020 7:41:22 AM
  From Machine: DESKTOP-517I8BU
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultVersionContract>

@{
    ViewBag.Title = "Index Default Version";
}

<h2>Index for Default Version</h2>

<p>
    @Html.ActionLink("Create New", "CrudeDefaultVersionCreate")
</p>

<table class="table">
    <tr>
        <th>Fun Version</th>
        <th>Number</th>
        <th>Major Number</th>
        <th>Minor Number</th>
        <th>Sequence Number</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FunVersion) </td>
            <td>@Html.DisplayFor(modelItem => item.Number) </td>
            <td>@Html.DisplayFor(modelItem => item.MajorNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.MinorNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.SequenceNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeDefaultVersionEdit", new { defaultVersionId = item.DefaultVersionId })
                | @Html.ActionLink("Delete", "CrudeDefaultVersionDelete", new { defaultVersionId = item.DefaultVersionId })
            </td>
        </tr>
    }

</table>
