@model norpim.BusinessLogicLayer.CrudeProductGatherSourceContract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
        <dt>Product Gather Source Type</dt> <dd>@Html.DisplayFor(model => model.ProductGatherSourceTypeRcd)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { productGatherSourceId = Model.ProductGatherSourceId }) |
    @Html.ActionLink("New", "CrudeProductGatherSourceCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeProductGatherSourceIndex")
</p>
