@model IEnumerable<norpim.BusinessLogicLayer.CrudeProductGatherSourceContract>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CrudeProductGatherSourceCreate")
</p>

<table class="table">
    <tr>
        <th>Date Time</th>
        <th>Product Gather Source Type</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductGatherSourceTypeRcd) </td>
            <td>@Html.ActionLink("Details", "CrudeProductGatherSourceDetails", new { productGatherSourceId = item.ProductGatherSourceId }) |
                @Html.ActionLink("Edit", "CrudeProductGatherSourceEdit", new { productGatherSourceId = item.ProductGatherSourceId }) |
                @Html.ActionLink("New", "CrudeProductGatherSourceCreate", new { })
            </td>
        </tr>
    }

</table>
