@model IEnumerable<norpim.BusinessLogicLayer.CrudeProductGatherSourceTypeRefContract>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CrudeProductGatherSourceTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Product Gather Source Type</th>
        <th>Product Gather Source Type Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductGatherSourceTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductGatherSourceTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.ActionLink("Details", "CrudeProductGatherSourceTypeRefDetails", new { productGatherSourceTypeRcd = item.ProductGatherSourceTypeRcd }) |
                @Html.ActionLink("Edit", "CrudeProductGatherSourceTypeRefEdit", new { productGatherSourceTypeRcd = item.ProductGatherSourceTypeRcd }) |
                @Html.ActionLink("New", "CrudeProductGatherSourceTypeRefCreate", new { })
            </td>
        </tr>
    }

</table>
