@model norpim.BusinessLogicLayer.CrudeProductGatherSourceTypeRefContract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Product Gather Source Type</dt> <dd>@Html.DisplayFor(model => model.ProductGatherSourceTypeRcd)</dd>
        <dt>Product Gather Source Type Name</dt> <dd>@Html.DisplayFor(model => model.ProductGatherSourceTypeName)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { productGatherSourceTypeRcd = Model.ProductGatherSourceTypeRcd }) |
    @Html.ActionLink("New", "CrudeProductGatherSourceTypeRefCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeProductGatherSourceTypeRefIndex")
</p>
