<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/9/2020 5:46:14 PM
  Template: sql2x.TemplateWithDurianGenerator.ParentViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.ProductMaintenanceAttributeIndexWithFilterContract>

@{
    ViewBag.Title = "Index Product Attribute";
}

<h2>Index for Product Attribute</h2>

<br />
@Html.Partial("~/Views/Templates/ProductMaintenance/_tab.cshtml")
<br />

<p>
    @Html.ActionLink("Create New", "ProductAttributeCreate", new { productId = ViewBag.ProductId })
</p>

<table class="table">
    <tr>
        <th>Product Name</th>
        <th>State</th>
        <th>Product Attribute Name</th>
        <th>Product Attribute Unit Name</th>
        <th>Default User Name</th>
        <th>Product Attribute</th>
        <th>Product Attribute Unit</th>
        <th>Value</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductName) </td>
            <td>@Html.DisplayFor(modelItem => item.StateRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductAttributeName) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductAttributeUnitName) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserName) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductAttributeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductAttributeUnitRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.Value) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "ProductAttributeEdit", new { productAttributeId = item.ProductAttributeId })
            </td>
        </tr>
    }

</table>
