<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 8/12/2020 7:41:24 AM
  From Machine: DESKTOP-517I8BU
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductContract

@{
    ViewBag.Title = "Details Product";
}

<h2>Details for Product</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Product Name</dt> <dd>@Html.DisplayFor(model => model.ProductName)</dd>
        <dt>State</dt> <dd>@Html.DisplayFor(model => model.StateRcd)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeProductEdit", new { productId = Model.ProductId }) |
    @Html.ActionLink("New", "CrudeProductCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeProductIndex")
</p>
