<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 3/12/2020 12:41:55 PM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialCostcentreContract>

@{
    ViewBag.Title = "Index Financial Costcentre";
}

<h2>Index for Financial Costcentre</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFinancialCostcentreCreate")
</p>

<table class="table">
    <tr>
        <th>Financial Costcentre Name</th>
        <th>Financial Costcentre Code</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FinancialCostcentreName) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialCostcentreCode) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFinancialCostcentreEdit", new { financialCostcentreId = item.FinancialCostcentreId })
                | @Html.ActionLink("Delete", "CrudeFinancialCostcentreDelete", new { financialCostcentreId = item.FinancialCostcentreId })
            </td>
        </tr>
    }

</table>
