<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 7/11/2020 11:27:22 AM
  From Machine: DESKTOP-517I8BU
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductGatherSourceContract>

@{
    ViewBag.Title = "Index Product Gather Source";
}

<h2>Index for Product Gather Source</h2>

<p>
    @Html.ActionLink("Create New", "CrudeProductGatherSourceCreate")
</p>

<table class="table">
    <tr>
        <th>Product Gather Source Type</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductGatherSourceTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeProductGatherSourceEdit", new { productGatherSourceId = item.ProductGatherSourceId })
                | @Html.ActionLink("Delete", "CrudeProductGatherSourceDelete", new { productGatherSourceId = item.ProductGatherSourceId })
            </td>
        </tr>
    }

</table>
