@model norpim.BusinessLogicLayer.CrudeProductAttributeUnitRefContract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Product Attribute Unit</dt> <dd>@Html.DisplayFor(model => model.ProductAttributeUnitRcd)</dd>
        <dt>Product Attribute Unit Name</dt> <dd>@Html.DisplayFor(model => model.ProductAttributeUnitName)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { productAttributeUnitRcd = Model.ProductAttributeUnitRcd }) |
    @Html.ActionLink("New", "CrudeProductAttributeUnitRefCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeProductAttributeUnitRefIndex")
</p>
