@model IEnumerable<norpim.BusinessLogicLayer.CrudeProductAttributeUnitRefContract>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CrudeProductAttributeUnitRefCreate")
</p>

<table class="table">
    <tr>
        <th>Product Attribute Unit</th>
        <th>Product Attribute Unit Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductAttributeUnitRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductAttributeUnitName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.ActionLink("Details", "CrudeProductAttributeUnitRefDetails", new { productAttributeUnitRcd = item.ProductAttributeUnitRcd }) |
                @Html.ActionLink("Edit", "CrudeProductAttributeUnitRefEdit", new { productAttributeUnitRcd = item.ProductAttributeUnitRcd }) |
                @Html.ActionLink("New", "CrudeProductAttributeUnitRefCreate", new { })
            </td>
        </tr>
    }

</table>
