@model IEnumerable<norpim.BusinessLogicLayer.CrudeProductImageContract>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CrudeProductImageCreate")
</p>

<table class="table">
    <tr>
        <th>Product Image Type</th>
        <th>Image</th>
        <th>Date Time</th>
        <th>Image File Name</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductImageTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.Image) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.ImageFileName) </td>
            <td>@Html.ActionLink("Details", "CrudeProductImageDetails", new { productImageId = item.ProductImageId }) |
                @Html.ActionLink("Edit", "CrudeProductImageEdit", new { productImageId = item.ProductImageId }) |
                @Html.ActionLink("New", "CrudeProductImageCreate", new { })
            </td>
        </tr>
    }

</table>
