<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 10/15/2020 9:09:30 AM
  From Machine: DESKTOP-742U247
  Template: sql2x.TemplateWithDurianGenerator.ParentViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.ProductMaintenanceIndexContract>

@{
    ViewBag.Title = "Index Product";
}

<h2>Index for Product</h2>

<br />
@Html.Partial("~/Views/Templates/ProductMaintenance/_tab.cshtml")
<br />

<p>
    @Html.ActionLink("Create New", "ProductMaintenanceCreate")
</p>

<table class="table">
    <tr>
        <th>Product Name</th>
        <th>State</th>
        <th>Date Time</th>
        <th>Default User Name</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductName) </td>
            <td>@Html.DisplayFor(modelItem => item.StateRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserName) </td>
            <td>
                @Html.ActionLink("Edit", "ProductMaintenanceEdit", new { productId = item.ProductId })
            </td>
        </tr>
    }

</table>
