@{
    ViewBag.Title = "nor-pim";
}
<link href="/Content/bootstrap.css" rel="stylesheet" type="text/css">
<br/> 
<i>Nor-Pim</i> is a Product Information Management System written for enterprise cloud environments with user interfaces tailored for PC, Web and Mobile.<br/>
<br/>
<i>Nor-Pim</i> is used for managing Structured and Unstructured product specific attributes which is either maintained manually or automatically.<br/>
<br/>
<i>Nor-Pim</i> provides full access to a Product and it's structure with a fixed or customized API through SOAP interfaces.<br/>
<br/>
<br/>
Generated Date: <b><!--sql2x_generate_date_from-->10/16/2020 9:12:51 AM<!--sql2x_generate_date_until--></b><br />
Version: <b><!--sql2x_generate_version_from-->0.0.0.1 ()<!--sql2x_generate_version_until--></b><br />
Build Box: <b><!--sql2x_create_box_from-->DESKTOP-742U247<!--sql2x_create_box_until--></b><br />
Internal Checkin Comment: <b><!--sql2x_internal_checkin_comment_from-->SQL2X - Creator - Init (norpim apps tiles frame 3)<!--sql2x_internal_checkin_comment_until--></b><br />
<br/>
<br/>
<p>Under development:</p>
<br/>
2020.06.16&nbsp;<i><a href="https://github.com/aunebakk">Readying a new Open Source version for Fall 2020</a></i><br/>
<br/>
<br/>
<br/>
<p>History:</p>
2020.10.07&nbsp;<i><a href="http://NorSolutionPim.azurewebsites.net">Dashboard redesigned</a></i><br/>
2018.04.01&nbsp;<i><a href="~/install/publish.htm">Order / Invoice Windows Version ( canceled )</a></i><br/>
2018.01.15&nbsp;<i>@Html.ActionLink("Client", "ClientIndex", "Client")</i><br/>
2018.01.01&nbsp;<i>@Html.ActionLink("New official version", "Splash", "Home")</i><br/>
2017.12.24&nbsp;<i><a href="http://NorSolutionPim.azurewebsites.net/templates">Templates Index</a></i><br/>
2017.12.02&nbsp;<i>@Html.ActionLink("Splash", "Splash", "Home")</i><br />
2017.12.02&nbsp;<i>@Html.ActionLink("Whiteboard", "DashboardWhiteboard", "Dashboard" )</i><br />
2017.11.30&nbsp;<i>@Html.ActionLink("VS2017 / dotNetCore 2.0", "Index", "Home")</i><br />
2017.11.07&nbsp;<i>@Html.ActionLink("Login", "Index", "Home")</i><br />
2017.10.13&nbsp;<i>@Html.ActionLink("Ordering", "Index", "Home")</i><br />
2017.10.12&nbsp;<i>@Html.ActionLink("All By sql2x", "Index", "Home" )</i><br />
2017.07.25&nbsp;<i>@Html.ActionLink("New Product Page", "ProductSearchIndex", "ProductSearch", new { productCategoryId = new Guid("9587f6f9-78d4-4816-ac36-bfa878f5d1a4"), onParent = false }, null)</i><br />
2017.07.25&nbsp;<i>@Html.ActionLink("New Dashboard", "Index", "Home")</i><br />
2017.07.18&nbsp;<i>@Html.ActionLink("sql2x Generated TypeScript Pages" , "Index" , "Product")</i><br />
2017.05.08&nbsp;<i>@Html.ActionLink("sql2x Generated WinForm and ASP" , "Index" , "Product")</i><br />
2016.12.06&nbsp;<i>@Html.ActionLink("dotNetCore" , "Index" , "Product")</i><br />
2016.12.06&nbsp;<i>@Html.ActionLink("Cart ( ASP )", "GetCartProductWithFilterIndex" , "GetCartProductWithFilter" )</i><br/>
2016.06.20&nbsp;<i>@Html.ActionLink("Product Tiles ( sql2x template 2016.06.20 ( TS ) Monday )", "Index" , "Product")</i><br/>
2016.06.05&nbsp;<i>@Html.ActionLink("Catalog", "DashboardChapterIndex", "Dashboard")</i><br/>
2016.06.05&nbsp;<i>@Html.ActionLink("Product", "ProductSearchByCategoryIndex", "ProductSearchByCategory", new {productCategoryId = new Guid("b7ca7a93-5a90-4511-b963-8f468e1628b1"), onParent = false}, null)</i><br/>
2016.06.05&nbsp;<i>@Html.ActionLink("Cart", "CrudeCartProductIndex", "CrudeCartProduct")</i><br/>
2015.07.21&nbsp;<i>@Html.ActionLink("Beta ( sql2x Generated WinForm )", "CrudeCartProductIndex" , "CrudeCartProduct" )</i><br />
2014.07.21&nbsp;<i>@Html.ActionLink("Alfa", "CrudeCartProductIndex", "CrudeCartProduct")</i><br/>
<br/>
