@{
    ViewBag.Title = "Simple Views";
}

<h2>Simple Views</h2>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product Maintenance Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\ProductMaintenanceSearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cart Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\CartSearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Client Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\ClientSearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Default Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\DefaultSearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\CategorySearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\ProductSearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product Reference Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\ProductReferenceSearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    