<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 3/11/2020 9:07:34 PM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialVoucherContract

@{
    ViewBag.Title = "Details Financial Voucher";
}

<h2>Details for Financial Voucher</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
        <dt>Value Amount</dt> <dd>@Html.DisplayFor(model => model.ValueAmount)</dd>
        <dt>Valid From Date Time</dt> <dd>@Html.DisplayFor(model => model.ValidFromDateTime)</dd>
        <dt>Valid Until Date Time</dt> <dd>@Html.DisplayFor(model => model.ValidUntilDateTime)</dd>
        <dt>Voucher Number</dt> <dd>@Html.DisplayFor(model => model.VoucherNumber)</dd>
        <dt>Voucher Description</dt> <dd>@Html.DisplayFor(model => model.VoucherDescription)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeFinancialVoucherEdit", new { financialVoucherId = Model.FinancialVoucherId }) |
    @Html.ActionLink("New", "CrudeFinancialVoucherCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeFinancialVoucherIndex")
</p>
