<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/22/2020 6:56:01 AM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialVoucherContract>

@{
    ViewBag.Title = "Index Financial Voucher";
}

<h2>Index for Financial Voucher</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFinancialVoucherCreate")
</p>

<table class="table">
    <tr>
        <th>Date Time</th>
        <th>Value Amount</th>
        <th>Valid From Date Time</th>
        <th>Valid Until Date Time</th>
        <th>Voucher Number</th>
        <th>Voucher Description</th>
        <th>Financial Voucher Type</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.ValueAmount) </td>
            <td>@Html.DisplayFor(modelItem => item.ValidFromDateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.ValidUntilDateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.VoucherNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.VoucherDescription) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialVoucherTypeRcd) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFinancialVoucherEdit", new { financialVoucherId = item.FinancialVoucherId })
                | @Html.ActionLink("Delete", "CrudeFinancialVoucherDelete", new { financialVoucherId = item.FinancialVoucherId })
            </td>
        </tr>
    }

</table>
