<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/27/2020 3:44:02 PM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialVoucherTypeRefContract>

@{
    ViewBag.Title = "Index Financial Voucher Type Ref";
}

<h2>Index for Financial Voucher Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFinancialVoucherTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Financial Voucher Type</th>
        <th>Financial Voucher Type Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FinancialVoucherTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialVoucherTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFinancialVoucherTypeRefEdit", new { financialVoucherTypeRcd = item.FinancialVoucherTypeRcd })
                | @Html.ActionLink("Delete", "CrudeFinancialVoucherTypeRefDelete", new { financialVoucherTypeRcd = item.FinancialVoucherTypeRcd })
            </td>
        </tr>
    }

</table>
