<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/22/2020 7:22:34 AM
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.ProductMaintenanceAttributeIndexWithFilterContract>

@{
    ViewBag.Title = "Product Maintenance Attribute Index With Filter";
}

<h2>Product Maintenance Attribute Index With Filter</h2>

<table class="table">
    <tr>
        <th>Product Name</th>
        <th>State</th>
        <th>Product Attribute Name</th>
        <th>Product Attribute Unit Name</th>
        <th>Default User Name</th>
        <th>Product Attribute</th>
        <th>Product Attribute Unit</th>
        <th>Value</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductName) </td>
            <td>@Html.DisplayFor(modelItem => item.StateRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductAttributeName) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductAttributeUnitName) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserName) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductAttributeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductAttributeUnitRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.Value) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
        </tr>
    }

</table>
