<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 7/13/2020 2:50:21 PM
  From Machine: DESKTOP-517I8BU
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientLinkTypeRefContract>

@{
    ViewBag.Title = "Index Client Link Type Ref";
}

<h2>Index for Client Link Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeClientLinkTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Client Link Type</th>
        <th>Client Link Type Name</th>
        <th>Client Link Type Description</th>
        <th>Active Flag</th>
        <th>Sort Order</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ClientLinkTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ClientLinkTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.ClientLinkTypeDescription) </td>
            <td>@Html.DisplayFor(modelItem => item.ActiveFlag) </td>
            <td>@Html.DisplayFor(modelItem => item.SortOrder) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeClientLinkTypeRefEdit", new { clientLinkTypeRcd = item.ClientLinkTypeRcd })
                | @Html.ActionLink("Delete", "CrudeClientLinkTypeRefDelete", new { clientLinkTypeRcd = item.ClientLinkTypeRcd })
            </td>
        </tr>
    }

</table>
