<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 9/12/2020 3:51:00 PM
  From Machine: DESKTOP-517I8BU
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.DefaultUserActivityRecentContract>

@{
    ViewBag.Title = "Default User Activity Recent";
}

<h2>Default User Activity Recent</h2>

<table class="table">
    <tr>
        <th>Date Time</th>
        <th>User Activity Type Name</th>
        <th>Originating Address</th>
        <th>Referrer</th>
        <th>User Activity Note</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.UserActivityTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.OriginatingAddress) </td>
            <td>@Html.DisplayFor(modelItem => item.Referrer) </td>
            <td>@Html.DisplayFor(modelItem => item.UserActivityNote) </td>
        </tr>
    }

</table>
