<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/19/2020 5:32:32 PM
  From Machine: DESKTOP-KE5CSN3
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.DefaultErrorOverviewContract>

@{
    ViewBag.Title = "Default Error Overview";
}

<h2>Default Error Overview</h2>

<table class="table">
    <tr>
        <th>Date Time</th>
        <th>Default Error Layer Name</th>
        <th>Default Error Type Name</th>
        <th>Domain Name</th>
        <th>Class Name</th>
        <th>Method Name</th>
        <th>Error Message</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultErrorLayerName) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultErrorTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DomainName) </td>
            <td>@Html.DisplayFor(modelItem => item.ClassName) </td>
            <td>@Html.DisplayFor(modelItem => item.MethodName) </td>
            <td>@Html.DisplayFor(modelItem => item.ErrorMessage) </td>
        </tr>
    }

</table>
