<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 11/1/2020 4:20:23 PM
  From Machine: DESKTOP-9A2DH39
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.GetDefaultChangeLogContract>

@{
    ViewBag.Title = "Get Default Change Log";
}

<h2>Get Default Change Log</h2>

<table class="table">
    <tr>
        <th>Default Change Name</th>
        <th>Default Change Description</th>
        <th>Date Time</th>
        <th>Default Change Log Type</th>
        <th>Default Change Log Type Name</th>
        <th>Issue Name</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DefaultChangeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultChangeDescription) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultChangeLogTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultChangeLogTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.IssueName) </td>
        </tr>
    }

</table>
