<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/6/2020 4:40:15 PM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductInfoRefContract

@{
    ViewBag.Title = "Details Product Info Ref";
}

<h2>Details for Product Info Ref</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Product Info Name</dt> <dd>@Html.DisplayFor(model => model.ProductInfoName)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeProductInfoRefEdit", new { productInfoRcd = Model.ProductInfoRcd }) |
    @Html.ActionLink("New", "CrudeProductInfoRefCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeProductInfoRefIndex")
</p>
