<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/27/2020 3:44:02 PM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultErrorContract>

@{
    ViewBag.Title = "Index Default Error";
}

<h2>Index for Default Error</h2>

<p>
    @Html.ActionLink("Create New", "CrudeDefaultErrorCreate")
</p>

<table class="table">
    <tr>
        <th>Default Error Layer</th>
        <th>Default Error Type</th>
        <th>Layer Address</th>
        <th>Error Message</th>
        <th>Stack Trace</th>
        <th>Method Name</th>
        <th>Domain Name</th>
        <th>Class Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DefaultErrorLayerRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultErrorTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.LayerAddress) </td>
            <td>@Html.DisplayFor(modelItem => item.ErrorMessage) </td>
            <td>@Html.DisplayFor(modelItem => item.StackTrace) </td>
            <td>@Html.DisplayFor(modelItem => item.MethodName) </td>
            <td>@Html.DisplayFor(modelItem => item.DomainName) </td>
            <td>@Html.DisplayFor(modelItem => item.ClassName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeDefaultErrorEdit", new { defaultErrorId = item.DefaultErrorId })
                | @Html.ActionLink("Delete", "CrudeDefaultErrorDelete", new { defaultErrorId = item.DefaultErrorId })
            </td>
        </tr>
    }

</table>
