@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientContactMethodContract>

@{
    ViewBag.Title = "ClientContactMethod";
}

<h2>Client Contact Method</h2>

@Html.Partial("~/Views/Client/_tab.cshtml")

<table class="table">
    <tr>
        <th>Contact Method</th>
        <th>Contact Method Way</th>
        <th>Comment</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ClientContactMethodRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ContactMethodWay) </td>
            <td>@Html.DisplayFor(modelItem => item.Comment) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "ClientContactMethodEdit", new { clientContactMethodId = item.ClientContactMethodId })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Add New", "ClientContactMethodCreate", "ClientContactMethod", new { clientId = ViewBag.ClientId }, null)
</p>
