@model norpim.BusinessLogicLayer.CrudeProductContract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Product Name</dt> <dd>@Html.DisplayFor(model => model.ProductName)</dd>
        <dt>State</dt> <dd>@Html.DisplayFor(model => model.StateRcd)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { productId = Model.ProductId }) |
    @Html.ActionLink("New", "CrudeProductCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeProductIndex")
</p>
