<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 10/13/2020 3:41:41 PM
  From Machine: DESKTOP-742U247
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductImageContract>

@{
    ViewBag.Title = "Index Product Image";
}

<h2>Index for Product Image</h2>

<p>
    @Html.ActionLink("Create New", "CrudeProductImageCreate")
</p>

<table class="table">
    <tr>
        <th>Product Image Type</th>
        <th>Image File Name</th>
        <th>Image</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductImageTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ImageFileName) </td>
            <td>@Html.DisplayFor(modelItem => item.Image) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeProductImageEdit", new { productImageId = item.ProductImageId })
                | @Html.ActionLink("Delete", "CrudeProductImageDelete", new { productImageId = item.ProductImageId })
            </td>
        </tr>
    }

</table>
