<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/14/2020 8:21:06 PM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialOrderIdentifierTypeRefContract>

@{
    ViewBag.Title = "Index Financial Order Identifier Type Ref";
}

<h2>Index for Financial Order Identifier Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFinancialOrderIdentifierTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Financial Order Identifier Type</th>
        <th>Financial Order Identifier Type Code</th>
        <th>Financial Order Identifier Type Name</th>
        <th>Sort Sequence Number</th>
        <th>Change Flag</th>
        <th>Status Code</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FinancialOrderIdentifierTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialOrderIdentifierTypeCode) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialOrderIdentifierTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.SortSequenceNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.ChangeFlag) </td>
            <td>@Html.DisplayFor(modelItem => item.StatusCode) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFinancialOrderIdentifierTypeRefEdit", new { financialOrderIdentifierTypeRcd = item.FinancialOrderIdentifierTypeRcd })
                | @Html.ActionLink("Delete", "CrudeFinancialOrderIdentifierTypeRefDelete", new { financialOrderIdentifierTypeRcd = item.FinancialOrderIdentifierTypeRcd })
            </td>
        </tr>
    }

</table>
