@model IEnumerable<norpim.BusinessLogicLayer.CrudeProductCategoryMappingContract>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CrudeProductCategoryMappingCreate")
</p>

<table class="table">
    <tr>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.ActionLink("Details", "CrudeProductCategoryMappingDetails", new { productCategoryMappingId = item.ProductCategoryMappingId }) |
                @Html.ActionLink("Edit", "CrudeProductCategoryMappingEdit", new { productCategoryMappingId = item.ProductCategoryMappingId }) |
                @Html.ActionLink("New", "CrudeProductCategoryMappingCreate", new { })
            </td>
        </tr>
    }

</table>
