<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/14/2020 10:45:35 AM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialOrderIdentifierContract>

@{
    ViewBag.Title = "Index Financial Order Identifier";
}

<h2>Index for Financial Order Identifier</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFinancialOrderIdentifierCreate")
</p>

<table class="table">
    <tr>
        <th>Financial Order Identifier Type</th>
        <th>Financial Order Identifier Code</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FinancialOrderIdentifierTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialOrderIdentifierCode) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFinancialOrderIdentifierEdit", new { financialOrderIdentifierId = item.FinancialOrderIdentifierId })
                | @Html.ActionLink("Delete", "CrudeFinancialOrderIdentifierDelete", new { financialOrderIdentifierId = item.FinancialOrderIdentifierId })
            </td>
        </tr>
    }

</table>
