<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 10/28/2020 6:19:24 AM
  From Machine: DESKTOP-9A2DH39
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.GetClientWithFilterContract>

@{
    ViewBag.Title = "Get Client With Filter";
}

<h2>Get Client With Filter</h2>

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Client Type</th>
        <th>Client Type Name</th>
        <th>Client Nationality</th>
        <th>Client Nationality Name</th>
        <th>Client Gender</th>
        <th>Client Gender Name</th>
        <th>Client Title</th>
        <th>Client Title Name</th>
        <th>Default User Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FirstName) </td>
            <td>@Html.DisplayFor(modelItem => item.MiddleName) </td>
            <td>@Html.DisplayFor(modelItem => item.LastName) </td>
            <td>@Html.DisplayFor(modelItem => item.ClientTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ClientTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.ClientNationalityRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ClientNationalityName) </td>
            <td>@Html.DisplayFor(modelItem => item.ClientGenderRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ClientGenderName) </td>
            <td>@Html.DisplayFor(modelItem => item.ClientTitleRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ClientTitleName) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
        </tr>
    }

</table>
