<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 3/13/2020 10:43:44 AM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialOrderEventTypeRefContract>

@{
    ViewBag.Title = "Index Financial Order Event Type Ref";
}

<h2>Index for Financial Order Event Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFinancialOrderEventTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Financial Order Event Type</th>
        <th>Financial Order Event Type Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FinancialOrderEventTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialOrderEventTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFinancialOrderEventTypeRefEdit", new { financialOrderEventTypeRcd = item.FinancialOrderEventTypeRcd })
                | @Html.ActionLink("Delete", "CrudeFinancialOrderEventTypeRefDelete", new { financialOrderEventTypeRcd = item.FinancialOrderEventTypeRcd })
            </td>
        </tr>
    }

</table>
