<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/25/2020 9:44:40 AM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialBankAccountNumberTypeRefContract>

@{
    ViewBag.Title = "Index Financial Bank Account Number Type Ref";
}

<h2>Index for Financial Bank Account Number Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFinancialBankAccountNumberTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Financial Bank Account Number Type</th>
        <th>Financial Bank Account Number Type Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FinancialBankAccountNumberTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialBankAccountNumberTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFinancialBankAccountNumberTypeRefEdit", new { financialBankAccountNumberTypeRcd = item.FinancialBankAccountNumberTypeRcd })
                | @Html.ActionLink("Delete", "CrudeFinancialBankAccountNumberTypeRefDelete", new { financialBankAccountNumberTypeRcd = item.FinancialBankAccountNumberTypeRcd })
            </td>
        </tr>
    }

</table>
