<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 7/13/2020 10:55:11 AM
  From Machine: DESKTOP-517I8BU
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductFieldSetMappingContract>

@{
    ViewBag.Title = "Index Product Field Set Mapping";
}

<h2>Index for Product Field Set Mapping</h2>

<p>
    @Html.ActionLink("Create New", "CrudeProductFieldSetMappingCreate")
</p>

<table class="table">
    <tr>
        <th>Product Identifier</th>
        <th>Product Attribute</th>
        <th>Product Info</th>
        <th>Product Image Type</th>
        <th>Product Documentation Type</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductIdentifierRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductAttributeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductInfoRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductImageTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductDocumentationTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeProductFieldSetMappingEdit", new { productFieldSetMappingId = item.ProductFieldSetMappingId })
                | @Html.ActionLink("Delete", "CrudeProductFieldSetMappingDelete", new { productFieldSetMappingId = item.ProductFieldSetMappingId })
            </td>
        </tr>
    }

</table>
