<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 2/15/2020 3:42:51 AM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialPaymentBankContract>

@{
    ViewBag.Title = "Index Financial Payment Bank";
}

<h2>Index for Financial Payment Bank</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFinancialPaymentBankCreate")
</p>

<table class="table">
    <tr>
        <th>Date Time</th>
        <th>Bank Name</th>
        <th>Bank Account</th>
        <th>Bank Number</th>
        <th>Financial Bank Account Number Type</th>
        <th>Amount</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.BankName) </td>
            <td>@Html.DisplayFor(modelItem => item.BankAccount) </td>
            <td>@Html.DisplayFor(modelItem => item.BankNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialBankAccountNumberTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.Amount) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFinancialPaymentBankEdit", new { financialPaymentBankId = item.FinancialPaymentBankId })
                | @Html.ActionLink("Delete", "CrudeFinancialPaymentBankDelete", new { financialPaymentBankId = item.FinancialPaymentBankId })
            </td>
        </tr>
    }

</table>
