@model IEnumerable<norpim.BusinessLogicLayer.CrudeSystemSettingContract>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CrudeSystemSettingCreate")
</p>

<table class="table">
    <tr>
        <th>System Setting</th>
        <th>System Setting Value</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.SystemSettingRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.SystemSettingValue) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.ActionLink("Details", "CrudeSystemSettingDetails", new { systemSettingId = item.SystemSettingId }) |
                @Html.ActionLink("Edit", "CrudeSystemSettingEdit", new { systemSettingId = item.SystemSettingId }) |
                @Html.ActionLink("New", "CrudeSystemSettingCreate", new { })
            </td>
        </tr>
    }

</table>
