@model norpim.BusinessLogicLayer.CrudeSystemSettingContract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>System Setting</dt> <dd>@Html.DisplayFor(model => model.SystemSettingRcd)</dd>
        <dt>System Setting Value</dt> <dd>@Html.DisplayFor(model => model.SystemSettingValue)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { systemSettingId = Model.SystemSettingId }) |
    @Html.ActionLink("New", "CrudeSystemSettingCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeSystemSettingIndex")
</p>
