<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Selected</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Cart Product", "CrudeCartProductIndex", "CrudeCartProduct")</li>
                            <li>@Html.ActionLink("Cart Product Price", "CrudeCartProductPriceIndex", "CrudeCartProductPrice")</li>
                        </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Client</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Client", "CrudeClientIndex", "CrudeClient")</li>
                            <li>@Html.ActionLink("Client Address", "CrudeClientAddressIndex", "CrudeClientAddress")</li>
                            <li>@Html.ActionLink("Client Address Type Ref", "CrudeClientAddressTypeRefIndex", "CrudeClientAddressTypeRef")</li>
                            <li>@Html.ActionLink("Client Contact Method", "CrudeClientContactMethodIndex", "CrudeClientContactMethod")</li>
                            <li>@Html.ActionLink("Client Contact Method Ref", "CrudeClientContactMethodRefIndex", "CrudeClientContactMethodRef")</li>
                            <li>@Html.ActionLink("Client Document", "CrudeClientDocumentIndex", "CrudeClientDocument")</li>
                            <li>@Html.ActionLink("Client Document Type Ref", "CrudeClientDocumentTypeRefIndex", "CrudeClientDocumentTypeRef")</li>
                            <li>@Html.ActionLink("Client Event", "CrudeClientEventIndex", "CrudeClientEvent")</li>
                            <li>@Html.ActionLink("Client Event Type Ref", "CrudeClientEventTypeRefIndex", "CrudeClientEventTypeRef")</li>
                            <li>@Html.ActionLink("Client Gender Ref", "CrudeClientGenderRefIndex", "CrudeClientGenderRef")</li>
                            <li>@Html.ActionLink("Client Identifier", "CrudeClientIdentifierIndex", "CrudeClientIdentifier")</li>
                            <li>@Html.ActionLink("Client Identifier Type Ref", "CrudeClientIdentifierTypeRefIndex", "CrudeClientIdentifierTypeRef")</li>
                            <li>@Html.ActionLink("Client Link", "CrudeClientLinkIndex", "CrudeClientLink")</li>
                            <li>@Html.ActionLink("Client Link Type Ref", "CrudeClientLinkTypeRefIndex", "CrudeClientLinkTypeRef")</li>
                            <li>@Html.ActionLink("Client Nationality Ref", "CrudeClientNationalityRefIndex", "CrudeClientNationalityRef")</li>
                            <li>@Html.ActionLink("Client Title Ref", "CrudeClientTitleRefIndex", "CrudeClientTitleRef")</li>
                            <li>@Html.ActionLink("Client Type Ref", "CrudeClientTypeRefIndex", "CrudeClientTypeRef")</li>
                        </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Default</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Default Change Log", "CrudeDefaultChangeLogIndex", "CrudeDefaultChangeLog")</li>
                            <li>@Html.ActionLink("Default Change Log Type Ref", "CrudeDefaultChangeLogTypeRefIndex", "CrudeDefaultChangeLogTypeRef")</li>
                            <li>@Html.ActionLink("Default Error", "CrudeDefaultErrorIndex", "CrudeDefaultError")</li>
                            <li>@Html.ActionLink("Default Error Layer Ref", "CrudeDefaultErrorLayerRefIndex", "CrudeDefaultErrorLayerRef")</li>
                            <li>@Html.ActionLink("Default Error Type Ref", "CrudeDefaultErrorTypeRefIndex", "CrudeDefaultErrorTypeRef")</li>
                            <li>@Html.ActionLink("Default Issue", "CrudeDefaultIssueIndex", "CrudeDefaultIssue")</li>
                            <li>@Html.ActionLink("Default Issue Status Ref", "CrudeDefaultIssueStatusRefIndex", "CrudeDefaultIssueStatusRef")</li>
                            <li>@Html.ActionLink("Default Issue Type Ref", "CrudeDefaultIssueTypeRefIndex", "CrudeDefaultIssueTypeRef")</li>
                            <li>@Html.ActionLink("Default Performance Issue", "CrudeDefaultPerformanceIssueIndex", "CrudeDefaultPerformanceIssue")</li>
                            <li>@Html.ActionLink("Default Performance Time", "CrudeDefaultPerformanceTimeIndex", "CrudeDefaultPerformanceTime")</li>
                            <li>@Html.ActionLink("Default Performance Time Rollup", "CrudeDefaultPerformanceTimeRollupIndex", "CrudeDefaultPerformanceTimeRollup")</li>
                            <li>@Html.ActionLink("Default Resource Measurement", "CrudeDefaultResourceMeasurementIndex", "CrudeDefaultResourceMeasurement")</li>
                            <li>@Html.ActionLink("Default Rule", "CrudeDefaultRuleIndex", "CrudeDefaultRule")</li>
                            <li>@Html.ActionLink("Default Rule Type Ref", "CrudeDefaultRuleTypeRefIndex", "CrudeDefaultRuleTypeRef")</li>
                            <li>@Html.ActionLink("Default State Ref", "CrudeDefaultStateRefIndex", "CrudeDefaultStateRef")</li>
                            <li>@Html.ActionLink("Default System Reference Table", "CrudeDefaultSystemReferenceTableIndex", "CrudeDefaultSystemReferenceTable")</li>
                            <li>@Html.ActionLink("Default System Setting", "CrudeDefaultSystemSettingIndex", "CrudeDefaultSystemSetting")</li>
                            <li>@Html.ActionLink("Default System Setting Ref", "CrudeDefaultSystemSettingRefIndex", "CrudeDefaultSystemSettingRef")</li>
                            <li>@Html.ActionLink("Default Test", "CrudeDefaultTestIndex", "CrudeDefaultTest")</li>
                            <li>@Html.ActionLink("Default Test Run", "CrudeDefaultTestRunIndex", "CrudeDefaultTestRun")</li>
                            <li>@Html.ActionLink("Default Test Run Result Ref", "CrudeDefaultTestRunResultRefIndex", "CrudeDefaultTestRunResultRef")</li>
                            <li>@Html.ActionLink("Default User", "CrudeDefaultUserIndex", "CrudeDefaultUser")</li>
                            <li>@Html.ActionLink("Default User Activity", "CrudeDefaultUserActivityIndex", "CrudeDefaultUserActivity")</li>
                            <li>@Html.ActionLink("Default User Activity Type Ref", "CrudeDefaultUserActivityTypeRefIndex", "CrudeDefaultUserActivityTypeRef")</li>
                            <li>@Html.ActionLink("Default Version", "CrudeDefaultVersionIndex", "CrudeDefaultVersion")</li>
                        </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Financial</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Financial Currency", "CrudeFinancialCurrencyIndex", "CrudeFinancialCurrency")</li>
                            <li>@Html.ActionLink("Financial Order", "CrudeFinancialOrderIndex", "CrudeFinancialOrder")</li>
                        </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Product", "CrudeProductIndex", "CrudeProduct")</li>
                            <li>@Html.ActionLink("Product Attribute", "CrudeProductAttributeIndex", "CrudeProductAttribute")</li>
                            <li>@Html.ActionLink("Product Attribute Ref", "CrudeProductAttributeRefIndex", "CrudeProductAttributeRef")</li>
                            <li>@Html.ActionLink("Product Attribute Unit Ref", "CrudeProductAttributeUnitRefIndex", "CrudeProductAttributeUnitRef")</li>
                            <li>@Html.ActionLink("Product Category", "CrudeProductCategoryIndex", "CrudeProductCategory")</li>
                            <li>@Html.ActionLink("Product Category Documentation", "CrudeProductCategoryDocumentationIndex", "CrudeProductCategoryDocumentation")</li>
                            <li>@Html.ActionLink("Product Category Documentation Type Ref", "CrudeProductCategoryDocumentationTypeRefIndex", "CrudeProductCategoryDocumentationTypeRef")</li>
                            <li>@Html.ActionLink("Product Category Image", "CrudeProductCategoryImageIndex", "CrudeProductCategoryImage")</li>
                            <li>@Html.ActionLink("Product Category Image Type Ref", "CrudeProductCategoryImageTypeRefIndex", "CrudeProductCategoryImageTypeRef")</li>
                            <li>@Html.ActionLink("Product Category Mapping", "CrudeProductCategoryMappingIndex", "CrudeProductCategoryMapping")</li>
                            <li>@Html.ActionLink("Product Change Set", "CrudeProductChangeSetIndex", "CrudeProductChangeSet")</li>
                            <li>@Html.ActionLink("Product Documentation", "CrudeProductDocumentationIndex", "CrudeProductDocumentation")</li>
                            <li>@Html.ActionLink("Product Documentation Type Ref", "CrudeProductDocumentationTypeRefIndex", "CrudeProductDocumentationTypeRef")</li>
                            <li>@Html.ActionLink("Product Entity Type Ref", "CrudeProductEntityTypeRefIndex", "CrudeProductEntityTypeRef")</li>
                            <li>@Html.ActionLink("Product Expose", "CrudeProductExposeIndex", "CrudeProductExpose")</li>
                            <li>@Html.ActionLink("Product Expose Plan", "CrudeProductExposePlanIndex", "CrudeProductExposePlan")</li>
                            <li>@Html.ActionLink("Product Expose Set", "CrudeProductExposeSetIndex", "CrudeProductExposeSet")</li>
                            <li>@Html.ActionLink("Product Expose Set Type Ref", "CrudeProductExposeSetTypeRefIndex", "CrudeProductExposeSetTypeRef")</li>
                            <li>@Html.ActionLink("Product Exposed Selection", "CrudeProductExposedSelectionIndex", "CrudeProductExposedSelection")</li>
                            <li>@Html.ActionLink("Product Field Set", "CrudeProductFieldSetIndex", "CrudeProductFieldSet")</li>
                            <li>@Html.ActionLink("Product Field Set Mapping", "CrudeProductFieldSetMappingIndex", "CrudeProductFieldSetMapping")</li>
                            <li>@Html.ActionLink("Product Gather", "CrudeProductGatherIndex", "CrudeProductGather")</li>
                            <li>@Html.ActionLink("Product Gather Attribute", "CrudeProductGatherAttributeIndex", "CrudeProductGatherAttribute")</li>
                            <li>@Html.ActionLink("Product Gather Attribute Type Ref", "CrudeProductGatherAttributeTypeRefIndex", "CrudeProductGatherAttributeTypeRef")</li>
                            <li>@Html.ActionLink("Product Gather Key", "CrudeProductGatherKeyIndex", "CrudeProductGatherKey")</li>
                            <li>@Html.ActionLink("Product Gather Source", "CrudeProductGatherSourceIndex", "CrudeProductGatherSource")</li>
                            <li>@Html.ActionLink("Product Gather Source Type Ref", "CrudeProductGatherSourceTypeRefIndex", "CrudeProductGatherSourceTypeRef")</li>
                            <li>@Html.ActionLink("Product Identifier", "CrudeProductIdentifierIndex", "CrudeProductIdentifier")</li>
                            <li>@Html.ActionLink("Product Identifier Ref", "CrudeProductIdentifierRefIndex", "CrudeProductIdentifierRef")</li>
                            <li>@Html.ActionLink("Product Image", "CrudeProductImageIndex", "CrudeProductImage")</li>
                            <li>@Html.ActionLink("Product Image Type Ref", "CrudeProductImageTypeRefIndex", "CrudeProductImageTypeRef")</li>
                            <li>@Html.ActionLink("Product Info", "CrudeProductInfoIndex", "CrudeProductInfo")</li>
                            <li>@Html.ActionLink("Product Info Ref", "CrudeProductInfoRefIndex", "CrudeProductInfoRef")</li>
                            <li>@Html.ActionLink("Product Supplier", "CrudeProductSupplierIndex", "CrudeProductSupplier")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    </body>
</html>
