<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nor-pim</title>

    <!-- icons -->
<link rel="shortcut icon" href="~/images/favicon/favicon.ico" type="image/x-icon">
<link rel="icon" href="~/images/favicon/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="57x57" href="~/images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="~/images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="~/images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="~/images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="~/images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="~/images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="~/images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="~/images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="~/images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="~/images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon/favicon-16x16.png">
<link rel="manifest" href="~/images/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">        
    <!-- icons -->

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/images/favicon/manifest.json">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/all.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
</head>
<body style="font-family: 'Product Sans', Arial, sans-serif; font-size: 15px;">
<style>
    p, navbar-brand {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
    }

    .navbar-brand {
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }
</style>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("nor-pim", "Index" , "Home" , new {}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Info", "DashboardInfo", "Dashboard" )</li>
                <li>@Html.ActionLink("Catalog", "TemplateChapterIndex", "Dashboard")</li>
                <li>@Html.ActionLink("Product", "ProductSearchByCategoryCodeIndex" , "ProductSearchByCategoryCodeLive" , new { productCategoryCode = "010101" , onParent=true }, null)</li>
                <li><a href="../CartProduct/CartProductIndexLive">Cart</a></li>
                <li>@Html.ActionLink("Create Issue", "CreateIssue", "Home")</li>
                <li>@Html.ActionLink("Issues", "DefaultIssueIndex" , "DefaultIssue")</li>
                <li>@Html.ActionLink("References", "Index" , "SystemReferenceTable" )</li>
                <li>@Html.ActionLink("Client", "ClientIndex" , "Client" )</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p style="font-size: 15px;">
            &copy; <a href="~/Home/About">nor-pim</a>
            made with &copy; <a href="https://www.sql2x.org">sql2x</a>
            utc: @DateTime.UtcNow
        </p>
    </footer>
</div>

@RenderSection("scripts", false)
</body>
</html>
