<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 11/1/2020 9:17:43 PM
  From Machine: DESKTOP-742U247
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientAddressTypeRefContract>

@{
    ViewBag.Title = "Index Client Address Type Ref";
}

<h2>Index for Client Address Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeClientAddressTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Client Address Type</th>
        <th>Client Address Type Name</th>
        <th>Client Address Type Description</th>
        <th>Active Flag</th>
        <th>Sort Order</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ClientAddressTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ClientAddressTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.ClientAddressTypeDescription) </td>
            <td>@Html.DisplayFor(modelItem => item.ActiveFlag) </td>
            <td>@Html.DisplayFor(modelItem => item.SortOrder) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeClientAddressTypeRefEdit", new { clientAddressTypeRcd = item.ClientAddressTypeRcd })
                | @Html.ActionLink("Delete", "CrudeClientAddressTypeRefDelete", new { clientAddressTypeRcd = item.ClientAddressTypeRcd })
            </td>
        </tr>
    }

</table>
