<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 10/29/2020 7:45:04 PM
  From Machine: DESKTOP-9A2DH39
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientTitleRefContract

@{
    ViewBag.Title = "Details Client Title Ref";
}

<h2>Details for Client Title Ref</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Client Title Name</dt> <dd>@Html.DisplayFor(model => model.ClientTitleName)</dd>
        <dt>Client Title Description</dt> <dd>@Html.DisplayFor(model => model.ClientTitleDescription)</dd>
        <dt>Active Flag</dt> <dd>@Html.DisplayFor(model => model.ActiveFlag)</dd>
        <dt>Sort Order</dt> <dd>@Html.DisplayFor(model => model.SortOrder)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeClientTitleRefEdit", new { clientTitleRcd = Model.ClientTitleRcd }) |
    @Html.ActionLink("New", "CrudeClientTitleRefCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeClientTitleRefIndex")
</p>
