@model norpim.BusinessLogicLayer.CrudeProductExposeSetTypeRefContract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Product Expose Set Type</dt> <dd>@Html.DisplayFor(model => model.ProductExposeSetTypeRcd)</dd>
        <dt>Product Expose Set Type Name</dt> <dd>@Html.DisplayFor(model => model.ProductExposeSetTypeName)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { productExposeSetTypeRcd = Model.ProductExposeSetTypeRcd }) |
    @Html.ActionLink("New", "CrudeProductExposeSetTypeRefCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeProductExposeSetTypeRefIndex")
</p>
