<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/6/2020 4:39:24 PM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialOrderEventContract>

@{
    ViewBag.Title = "Index Financial Order Event";
}

<h2>Index for Financial Order Event</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFinancialOrderEventCreate")
</p>

<table class="table">
    <tr>
        <th>Date Time</th>
        <th>Comment</th>
        <th>Financial Order Event Type</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.Comment) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialOrderEventTypeRcd) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFinancialOrderEventEdit", new { fiancialOrderEventId = item.FiancialOrderEventId })
                | @Html.ActionLink("Delete", "CrudeFinancialOrderEventDelete", new { fiancialOrderEventId = item.FiancialOrderEventId })
            </td>
        </tr>
    }

</table>
