@model IEnumerable<norpim.BusinessLogicLayer.CrudeSystemSettingRefContract>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CrudeSystemSettingRefCreate")
</p>

<table class="table">
    <tr>
        <th>System Setting</th>
        <th>System Setting Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.SystemSettingRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.SystemSettingName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.ActionLink("Details", "CrudeSystemSettingRefDetails", new { systemSettingRcd = item.SystemSettingRcd }) |
                @Html.ActionLink("Edit", "CrudeSystemSettingRefEdit", new { systemSettingRcd = item.SystemSettingRcd }) |
                @Html.ActionLink("New", "CrudeSystemSettingRefCreate", new { })
            </td>
        </tr>
    }

</table>
