@model norpim.BusinessLogicLayer.CrudeSystemSettingRefContract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>System Setting</dt> <dd>@Html.DisplayFor(model => model.SystemSettingRcd)</dd>
        <dt>System Setting Name</dt> <dd>@Html.DisplayFor(model => model.SystemSettingName)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { systemSettingRcd = Model.SystemSettingRcd }) |
    @Html.ActionLink("New", "CrudeSystemSettingRefCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeSystemSettingRefIndex")
</p>
