<!--
  SQL2X Generated ASP .NET Core View code based on a SQL Server Schema
  SQL2X Version: 0.c
  http://sql2x.azurewebsites.net/
  Generated Date: 10/11/2017 11:25:18 AM
  Template ClassName: GenerateDurian
-->
@model Tuple<SolutionNorSolutionPim.BusinessLogicLayer.Models.CrudeFinancialOrderModel, List<SolutionNorSolutionPim.BusinessLogicLayer.Models.CrudeFinancialOrderLineModel>> 
<style>
    table {
        background-color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
    }
</style>

<h2>
    <b>
        <font color="DarkBlue">Order Header</font>
    </b>
</h2>

<h3>
    <b>
        <font color="DarkBlue">@Html.Raw(Model.Item1.Comment)</font>
    </b>
</h3>


<hr />
<div style="display:none;"></div>
<meta name="viewport" content="initial-scale=1.0 , minimum-scale=1.0 , maximum-scale=1.0" />

<table class="table">
    <tr style="background-color: aliceblue; font-weight: bold;">
        <th width="2000">Comment</th>
        <th width="2000">Financial Order Source Rcd</th>
        <th width="3000">DateTime</th>
    </tr>
    <tr style="background-color: aliceblue; font-weight: normal;">
        <td>@Html.DisplayFor(model => model.Item1.Comment)</td>
        <td>@Html.DisplayFor(model => model.Item1.FinancialOrderSourceRcd)</td>
        <td>@Html.DisplayFor(model => model.Item1.DateTime)</td>
    </tr>
</table>

<h3>
    <b>
        <font color="DarkBlue">Order Lines</font>
    </b>
</h3>

<table class="table">
    <tr style="background-color: aliceblue; font-weight: bold;">
        <th width="2000">Line Number</th>
        <th width="2000">Amount</th>
        <th width="2000">Comment</th>
        <th width="2000">DateTime</th>
        <th width="2000">Financial Unit Of MeasurementRcd</th>
        <th width="2000">Quantity Number</th>
    </tr>
    @foreach (var line in Model.Item2) {
        <tr style="background-color: aliceblue; font-weight: normal;">
            <td>@Html.DisplayFor(modelItem => @line.LineNumber)</td>
            <td>@Html.DisplayFor(modelItem => @line.Amount)</td>
            <td>@Html.DisplayFor(modelItem => @line.Comment)</td>
            <td>@Html.DisplayFor(modelItem => @line.DateTime)</td>
            <td>@Html.DisplayFor(modelItem => @line.FinancialUnitOfMeasurementRcd)</td>
            <td>@Html.DisplayFor(modelItem => @line.QuantityNumber)</td>
        </tr>
    }
    </table>

<br />
<hr />
<br />

@section Scripts {
}

