<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/14/2020 8:21:08 PM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialOrderLineContract

@{
    ViewBag.Title = "Details Financial Order Line";
}

<h2>Details for Financial Order Line</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Product Id</dt> <dd>@Html.DisplayFor(model => model.ProductId)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
        <dt>Comment</dt> <dd>@Html.DisplayFor(model => model.Comment)</dd>
        <dt>Line Number</dt> <dd>@Html.DisplayFor(model => model.LineNumber)</dd>
        <dt>Quantity Number</dt> <dd>@Html.DisplayFor(model => model.QuantityNumber)</dd>
        <dt>Amount</dt> <dd>@Html.DisplayFor(model => model.Amount)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeFinancialOrderLineEdit", new { financialOrderLineId = Model.FinancialOrderLineId }) |
    @Html.ActionLink("New", "CrudeFinancialOrderLineCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeFinancialOrderLineIndex")
</p>
