<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 3/11/2020 9:07:03 PM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialOrderLineContract>

@{
    ViewBag.Title = "Index Financial Order Line";
}

<h2>Index for Financial Order Line</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFinancialOrderLineCreate")
</p>

<table class="table">
    <tr>
        <th>Date Time</th>
        <th>Comment</th>
        <th>Line Number</th>
        <th>Financial Unit Of Measurement</th>
        <th>Quantity Number</th>
        <th>Amount</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.Comment) </td>
            <td>@Html.DisplayFor(modelItem => item.LineNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialUnitOfMeasurementRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.QuantityNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.Amount) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFinancialOrderLineEdit", new { financialOrderLineId = item.FinancialOrderLineId })
                | @Html.ActionLink("Delete", "CrudeFinancialOrderLineDelete", new { financialOrderLineId = item.FinancialOrderLineId })
            </td>
        </tr>
    }

</table>
