<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/14/2020 7:27:08 AM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialOrderSourceRefContract>

@{
    ViewBag.Title = "Index Financial Order Source Ref";
}

<h2>Index for Financial Order Source Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFinancialOrderSourceRefCreate")
</p>

<table class="table">
    <tr>
        <th>Financial Order Source</th>
        <th>Financial Order Source Name</th>
        <th>Financial Order Source Code</th>
        <th>Sort Sequence Number</th>
        <th>Change Flag</th>
        <th>Status Code</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FinancialOrderSourceRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialOrderSourceName) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialOrderSourceCode) </td>
            <td>@Html.DisplayFor(modelItem => item.SortSequenceNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.ChangeFlag) </td>
            <td>@Html.DisplayFor(modelItem => item.StatusCode) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFinancialOrderSourceRefEdit", new { financialOrderSourceRcd = item.FinancialOrderSourceRcd })
                | @Html.ActionLink("Delete", "CrudeFinancialOrderSourceRefDelete", new { financialOrderSourceRcd = item.FinancialOrderSourceRcd })
            </td>
        </tr>
    }

</table>
