<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 10/3/2020 3:49:15 PM
  From Machine: DESKTOP-517I8BU
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductCategoryDocumentationContract

@{
    ViewBag.Title = "Details Product Category Documentation";
}

<h2>Details for Product Category Documentation</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Documentation</dt> <dd>@Html.DisplayFor(model => model.Documentation)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeProductCategoryDocumentationEdit", new { productCategoryDocumentationId = Model.ProductCategoryDocumentationId }) |
    @Html.ActionLink("New", "CrudeProductCategoryDocumentationCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeProductCategoryDocumentationIndex")
</p>
