@model IEnumerable<norpim.BusinessLogicLayer.CrudeProductCategoryImageContract>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CrudeProductCategoryImageCreate")
</p>

<table class="table">
    <tr>
        <th>Product Category Image Type</th>
        <th>Image</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductCategoryImageTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.Image) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.ActionLink("Details", "CrudeProductCategoryImageDetails", new { productCategoryImageId = item.ProductCategoryImageId }) |
                @Html.ActionLink("Edit", "CrudeProductCategoryImageEdit", new { productCategoryImageId = item.ProductCategoryImageId }) |
                @Html.ActionLink("New", "CrudeProductCategoryImageCreate", new { })
            </td>
        </tr>
    }

</table>
