<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 3/11/2020 1:33:50 PM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialPaymentCashContract

@{
    ViewBag.Title = "Details Financial Payment Cash";
}

<h2>Details for Financial Payment Cash</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
        <dt>Amount</dt> <dd>@Html.DisplayFor(model => model.Amount)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeFinancialPaymentCashEdit", new { financialPaymentCashId = Model.FinancialPaymentCashId }) |
    @Html.ActionLink("New", "CrudeFinancialPaymentCashCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeFinancialPaymentCashIndex")
</p>
