@model norpim.BusinessLogicLayer.CrudeProductAttributeRefContract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Product Attribute</dt> <dd>@Html.DisplayFor(model => model.ProductAttributeRcd)</dd>
        <dt>Product Attribute Name</dt> <dd>@Html.DisplayFor(model => model.ProductAttributeName)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { productAttributeRcd = Model.ProductAttributeRcd }) |
    @Html.ActionLink("New", "CrudeProductAttributeRefCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeProductAttributeRefIndex")
</p>
