<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/22/2020 6:56:01 AM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialPaymentCouponContract>

@{
    ViewBag.Title = "Index Financial Payment Coupon";
}

<h2>Index for Financial Payment Coupon</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFinancialPaymentCouponCreate")
</p>

<table class="table">
    <tr>
        <th>Date Time</th>
        <th>Amount</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.Amount) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFinancialPaymentCouponEdit", new { financialPaymentCouponId = item.FinancialPaymentCouponId })
                | @Html.ActionLink("Delete", "CrudeFinancialPaymentCouponDelete", new { financialPaymentCouponId = item.FinancialPaymentCouponId })
            </td>
        </tr>
    }

</table>
