<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/14/2020 8:20:42 PM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultPerformanceTimeContract>

@{
    ViewBag.Title = "Index Default Performance Time";
}

<h2>Index for Default Performance Time</h2>

<p>
    @Html.ActionLink("Create New", "CrudeDefaultPerformanceTimeCreate")
</p>

<table class="table">
    <tr>
        <th>Command Name</th>
        <th>Milliseconds</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.CommandName) </td>
            <td>@Html.DisplayFor(modelItem => item.Milliseconds) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeDefaultPerformanceTimeEdit", new { defaultPerformanceTimeId = item.DefaultPerformanceTimeId })
                | @Html.ActionLink("Delete", "CrudeDefaultPerformanceTimeDelete", new { defaultPerformanceTimeId = item.DefaultPerformanceTimeId })
            </td>
        </tr>
    }

</table>
