<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/22/2020 6:56:00 AM
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultErrorTypeRefContract

@{
    ViewBag.Title = "Details Default Error Type Ref";
}

<h2>Details for Default Error Type Ref</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Default Error Type Name</dt> <dd>@Html.DisplayFor(model => model.DefaultErrorTypeName)</dd>
        <dt>Default User Id</dt> <dd>@Html.DisplayFor(model => model.DefaultUserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeDefaultErrorTypeRefEdit", new { defaultErrorTypeRcd = Model.DefaultErrorTypeRcd }) |
    @Html.ActionLink("New", "CrudeDefaultErrorTypeRefCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeDefaultErrorTypeRefIndex")
</p>
