@model IEnumerable<norpim.BusinessLogicLayer.CrudeProductFieldSetContract>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CrudeProductFieldSetCreate")
</p>

<table class="table">
    <tr>
        <th>Product Field Set Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductFieldSetName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.ActionLink("Details", "CrudeProductFieldSetDetails", new { productFieldSetId = item.ProductFieldSetId }) |
                @Html.ActionLink("Edit", "CrudeProductFieldSetEdit", new { productFieldSetId = item.ProductFieldSetId }) |
                @Html.ActionLink("New", "CrudeProductFieldSetCreate", new { })
            </td>
        </tr>
    }

</table>
