@model norpim.BusinessLogicLayer.CrudeProductCategoryImageTypeRefContract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Product Category Image Type</dt> <dd>@Html.DisplayFor(model => model.ProductCategoryImageTypeRcd)</dd>
        <dt>Product Category Image Type Name</dt> <dd>@Html.DisplayFor(model => model.ProductCategoryImageTypeName)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { productCategoryImageTypeRcd = Model.ProductCategoryImageTypeRcd }) |
    @Html.ActionLink("New", "CrudeProductCategoryImageTypeRefCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeProductCategoryImageTypeRefIndex")
</p>
